<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-TMzKXFhaHm1K2Lj9dJ1+ZXbIRnb6o8kOfdSdr5SRh5Gzypz9iOczfQbmJ+ev/eES"
          crossorigin="anonymous">
    <style>
        .header-links {
            margin-right: 20px;
        }
    </style>
</head>
<body>
<div th:fragment="header">
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" th:href="@{index.html}">
                    <img width="250" th:src="@{/main-web-static/images/logo.png}" alt="#"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/index.html}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Pages <span
                                    class="caret"></span></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{electronics.html}">Electronics</a></li>
                                <li><a th:href="@{product.html}">Clothes</a></li>
                                <li><a th:href="@{jewellery.html}">Jewelleries</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/blog_list.html}">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/contact.html}">Contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <div class="header-links float-right">
                            <a href="/login.html" class="btn btn-outline-primary">Login</a>
                            <a href="/register.html" class="btn btn-outline-success">Register</a>
                        </div>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</div>
</body>
</html>
